@(categories: List[(String, String)], sellerId: String)(implicit request: RequestHeader, flash: Flash)

@main("product register") {
    <style>
        .option {
            border: solid black 2px;
            padding: 10px;
            margin: 10px;
            width: 50%;
        }
        .image-aria {
            border: solid black 2px;
            padding: 10px;
            margin: 10px;
            width: 50%;
        }
        .hidden-category {
            display: none;
        }

        .hidden-option {
            display : none;
        }
        .hidden-item {
            display : none;
        }

        .hidden-image {
            display : none;
        }

        .item {
            border: solid black 1px;
            padding: 10px;
        }
    </style>

    <div class="container">
        <h3>Product Register Page</h3>
        <br>
        name : <input type="text" name="name" id="name"/>
        <br>
        price: <input type="number" name="price" id="price"/>
        <br>

        <div class="hidden-category">
            <select class="category" onchange="nextCategories(this)">
                <option selected>분류</option>
            </select>
        </div>

        category
        <div class="category-aria">
            <div class="category">
                <select id="" class="category" onchange="nextCategories(this)">
                    <option selected>분류</option>
                    @for(category <- categories) {
                        <option value="@category._1">@category._2</option>
                    }
                </select>
            </div>
        </div>

        <div class="image-aria">
            <div class="hidden-image">
                image: <input type="file" name="image">
            </div>
            <div class="images">
                <input type="button" style="margin-bottom:5px" onclick="addImage()" value="이미지 추가"><br>
                <div class="image">
                    image: <input type="file" name="image"/> <br>
                </div>
            </div>
        </div>

        <br>
        detailInfo: <input type="text" name="detailInfo" id="detailInfo"/>
        <br>
        thumbnail: <input type="file" name="thumbnail" id="thumbnail"/>
        <br>

        <input type="button" onclick="addOption(this)" value = "옵션 추가"/>
        <input type="button" onclick="addProduct('@sellerId')" value = "상품 등록"/>
        <br>
        <br>

        <div class="hidden-option">
            optionName: <input type="text" name="name" id="name"/> <br>

            <input type="button" onclick="addItem(this)" value = "항목 추가"/> <br><br>
            <div class="item">
                itemName: <input type="text" name="name" id="name"/>
                surcharge: <input type="number" name="surcharge" id="surcharge"/>
                stock: <input type="number" name="stock" id="stock"/>
            </div>
        </div>

        <div class="hidden-item">
            itemName: <input type="text" name="name" id="name"/>
            surcharge: <input type="number" name="surcharge" id="surcharge"/>
            stock: <input type="number" name="stock" id="stock"/>
        </div>

        <div class="main-option option">
            optionName: <input type="text" name="name" id="name"/> <br>
            <input type="button" onclick="addItem(this)" value = "항목 추가"/> <br><br>
            <div class="item">
                itemName: <input type="text" name="name" id="name"/>
                surcharge: <input type="number" name="surcharge" id="surcharge"/>
                stock: <input type="number" name="stock" id="stock"/>
            </div>
        </div>

    </div>

    <script src="@routes.Assets.versioned("/javascripts/seller.js")"></script>
}
