@(carts: List[dto.CartDto])(implicit request: RequestHeader, flash: Flash)

@main("장바구니") {
    <div class="container mt-5 p-5">
        <div class="row w-75 mx-auto my-3">
            <span class="h2 w-100"></span>
        </div>

        @request.session.get("sessionToken") match {
            case Some(token) if token.split("-")(1).equals("user") => {
                <input type="hidden" id="userId" value="@token.split("-")(0)"> }
            case None => { <input type="hidden" id="userId" value=""> }
        }

        <div class="row w-75" style="float:none;margin:0 auto;">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col" style="width:5%">
                            <input id="checkAll" type="checkbox" class="form-check-input">
                        </th>
                        <th scope="col" style="width:55%">상품명</th>
                        <th scope="col" style="width:15%">가격</th>
                        <th scope="col" style="width:10%">수량</th>
                        <th scope="col" style="width:15%">상품 금액</th>
                        <th scope="col" style="width:5%"></th>
                    </tr>
                </thead>
                <tbody>
                    @carts.sortBy(_.addedDate).map { cart =>
                        <tr>
                            <th>
                                <input type="checkbox" class="form-check-input" name="cartCheck">
                            </th>
                            <th id="name">@cart.name</th>
                            <th>@cart.price 원</th>
                            <th class="px-2">
                                <div class="row w-100 mx-auto align-items-center">
                                    <input type="hidden" value="@cart.cartId">
                                    <input type="number"
                                           class="col form-control text-center p-0 me-1" value="@cart.quantity">
                                    <button type="button" name="updateQuantityButton"
                                            class="btn btn-sm btn-outline-secondary col-4 p-0">
                                        <i class="bi bi-arrow-clockwise"></i>
                                    </button>
                                </div>
                            </th>
                            <input type="hidden" value="@cart.cartId" name="cartId">
                            <input type="hidden" id="price" value="@cart.price">
                            <th id="totPrice">@{cart.price*cart.quantity} 원</th>
                            <th id="delete">
                                <input type="hidden" value="@cart.cartId">
                                <button name="deleteButton"
                                        type="button" class="btn-close" aria-label="Close"></button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row w-75 mx-auto">
            <div class="w-100 p-0">
                <button type="button" class="btn btn-outline-secondary float-start" onclick="location.href='/'">돌아가기</button>
                <button type="button" class="btn btn-success float-end" id="orderButton">주문하기</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/cart_list.js")"></script>
}
