@import play.api.libs.typedmap.TypedKey
@(products: List[dto.ProductDto], pageNum: Int, nowPage: Int)(implicit request: RequestHeader, flash: Flash)

@main("search"){
    <header>
        @views.html.common.header()
    </header>

    <div class="container p-0 mt-0">
        <div class="row mx-auto px-0">
            <div class="col-2 border border-top-0" style="height:1500px"></div>

            <div class="col-10 border-end">
                <div class="row-vh mt-4 mb-3 d-flex px-3">
                    <h5 class="mb-0">에 대한 검색 결과</h5>
                </div>
                <div class="row my-2 px-3">
                    <div></div>
                    <div class="btn-group btn-group-sm w-auto" role="group">
                        <a onclick="setSeq(this)" name="0" class="btn btn-outline-secondary"
                            aria-current="page">가격 낮은순</a>
                        <a onclick="setSeq(this)" name="1" class="btn btn-outline-secondary"
                            aria-current="page">가격 높은순</a>
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            48개씩 보기
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="" class="dropdown-item">36개씩 보기</a></li>
                            <li><a href="" class="dropdown-item active">48개씩 보기</a></li>
                            <li><a href="" class="dropdown-item">60개씩 보기</a></li>
                            <li><a href="" class="dropdown-item">72개씩 보기</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row g-3 px-3 pb-3 my-auto">
                    @for(product <- products) {
                        <div class="col-3">
                            <div class="card rounded-0"
                                onclick="location.href='@routes.SearchController.productDetail(product.productId)'">
                                <img src="@product.thumbnail" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">@product.name</h5>
                                    <p class="card-text mb-1">@product.price</p>
                                    @if(product.rating!=0) {
                                        <p class="card-text">
                                            @for(_ <- 1 to product.rating/2) {
                                                <i class="bi bi-star-fill text-warning"></i>
                                            } @if(product.rating%2==1){ <i class="bi bi-star-half text-warning"></i> }
                                            @for(_ <- 1 to (5-product.rating/2 - product.rating%2)) {
                                                <i class="bi bi-star text-warning"></i> }
                                            <span class="text-muted">(@product.reviewCount)</span>
                                        </p>
                                    } else{ <p class="card-text text-muted">리뷰 없음</p>}
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mt-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @for(i <- 1 to pageNum) {
                                <li class="page-item @if(i==nowPage){active}">
                                    <a class="page-link" onclick="searchPage(@i)">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/search.js")"></script>
}